.sec_faq__help{
    background-color: #E5E5E5;
    .faq_header{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 30px;
        border-bottom: 0.5px solid  rgba($color: #091133, $alpha: 0.3);
        padding-bottom: 30px;
    }
    .faq{
        background-color: $txt-normal-color;
        height: 100%;
    }
    .help_center{
        border: 0.5px solid #636F7D;
        border-radius: 4px;
        transition: 0.3s;
        display: inline-block;
    }
    .dropdown_item .faq{
        display: none;
    }
    .help_center:hover{
        background-color: $txt-normal-color;
        color: $bg-normal-color;
    }
    .faq,.help_center,.submit_request{
        padding: 6.5px 25px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 400;
    }
    .faq_btn{
        display: flex;
        align-items: stretch;
        gap: 20px;
    }
    .submit_request{
        border: 1px solid $cta-color;
        border-radius: 4px;
        font-weight: 500;
        display: inline-block;
    }
    .arow_icon{
        display: none;  
    }
    .m_help_center{
        display: none;
    }
    .faq_content{
        margin-top: 30px;
        position: relative;
        ul{
            width: 40.5%;
            padding: 50px 40px;
            background-color: $bg-normal-color;
            border-radius: 10px;
        }
    }
    .faq_ques.active~.faq_ans{
        opacity: 1;
        animation-name: fadeInUp;
        animation-duration: 1s;
        animation-fill-mode: both;
            @keyframes fadeInUp {
            0% {
            opacity: 0;
            transform: translate3d(0, 10%, 0);
            }
            100% {
            opacity: 1;
            transform: none;
            }
            }
    }

    .faq_ans{
        position: absolute;
        right: 0;
        top: 0;
        width: 57.45%;
        padding: 50px 40px;
        background-color: $bg-normal-color;
        border-radius: 10px;
        height: 0;
        overflow: hidden;
        opacity: 0;
        // visibility: hidden;
        transition: opacity 1s, padding 1s;
    }
    .faq_ques{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
        border: 0.2px solid rgba(99, 111, 125, 0.07);
        border-radius: 4px;
        margin-top: 20px;
        transition: 0.3s;
        cursor: pointer;
        
        h3{
            font-size: 22px;
            font-weight: 400;
            color: rgba($color: #091133, $alpha: 0.7);
        }
    }
    .faq_ques:hover{
        background-color: $bg-secondary-color;
        color: $txt-primary-color;
    }

    
    .faq_ques:hover span svg{
        visibility: visible;
    }
    .faq_ques{
        span svg{
            visibility: hidden;
            transition: 0.3s;
        }
        &.active{
            span svg{
                visibility: visible;
            }
            background-color: $bg-secondary-color;
            border-color: transparent;
            color: $txt-primary-color;
        }
    }
    .faq_heading{
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 20px;
        border-bottom: 0.5px solid  rgba($color: #636F7D, $alpha: 0.1);
    }
    // Faq Ans Content Css Code
    .faq_ans_heading{
        font-size: 16px;
        font-weight: 500;
        color: $txt-primary-color;
        padding-bottom: 15px;
        border-bottom: 0.5px solid rgba($color: #636F7D, $alpha: 0.1);
    }
    .Faqans_info{
        margin-top: 15px;
        font-size: 18px;
        font-weight: 400;
        color: $txt-normal-color    ;
    }
    .faq_ans_link{
        padding: 10px 20px;
        background: rgba(249, 208, 3, 0.1);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        button{
            background-color: $cta-color;
            padding: 10px;
            border-radius: 4px;
        }
        span{
            color:$cta-color;
            font-size: 16px;
            font-weight: 400;
        }
        
    }
    .faq_ans_footer_info{
        padding: 10px 20px;
        background: rgba(249, 208, 3, 0.1);
        border-radius: 10px;
        margin-top: 15px;
        padding: 20px;
        color:$cta-color;
        font-size: 16px;
        font-weight: 400;
    }

    
}

/* Responsive Css Code */

/* Breackpoint 1024px */
@media only screen and (max-width: 1024px){
    .sec_faq__help{
        .faq_content ul{
            width: 100%;
        }
        .faq_ans{
            position: initial;
            width: 100%;
            padding: 0;
        }
        .faq_ques.active ~ .faq_ans{
            animation: none;   
            transition:all 0.3s;
            padding: 10px 0 20px;
        }
    } 
    
}

/* Breackpoint 767px */
@media only screen and (max-width: 767px){
    .sec_faq__help{
        .submit_request{
            color: $txt-primary-color;
            background-color:$cta-color;
        }
        .faq,.help_center,.submit_request{
            font-size: 14px;
        }
        .faq_header{
            padding-bottom: 17.5px;
        }
        .faq_btn{
            flex-direction: column;
        }
        
        .dropdown_item{
            position: absolute;
            transform: translateY(50px);
            background-color: $bg-normal-color;
            padding: 20px 15px;
            box-shadow: 0 0 5px #ddd;
            border-radius: 5px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            align-items: center;
            z-index: 100;
            .faq{
                display: block;
                width: 100%;
                margin-bottom: 10px;
                
            }
        }
        .faq{
            display: flex;
            align-items: center;
            gap: 10px;
        } 
        .dropdown_item~.bg_layer{
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            z-index: 99;
        }
        .faq,.help_center,.submit_request{
            padding: 8.5px 10px;   
        }
        .arow_icon{
            display: block;
        }
        .d_help_center{
            display: none;
        }
        .m_help_center{
            display: block;
        }
        .faq_content ul{
            padding: 20px;
        }
        .faq_ans_heading{
            padding-bottom: 10px;
        }
        .Faqans_info{
            margin-top: 10px;
        }
        .faq_heading{
            padding-bottom: 15px;
            font-size: 22px;
        }
        .faq_ques h3{
            font-size: 16px;
        }
        .Faqans_info{
            font-size: 12px;
        }
        .faq_ans_link{
            margin-top: 10px;
            span{
                font-size: 12px;
            }
        }
        .faq_ans_footer_info{
            font-size: 12px;
            margin-top: 10px;
        }
        .faq_ques{
            margin-top: 10px;
        }
    } 
}