.footer{
    overflow: hidden;
}
.footer_logo{
    margin-bottom: 60px ;
}
.footer_head{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    grid-auto-flow: column;
    gap: 25px;
    margin-bottom: 60px;
    .sec_heading{
        margin-bottom: 40px;
    }
    .sec_info {
        opacity: 0.7;
    }
    .cta_button{
        height: fit-content;
        box-shadow: 0 0 170px 0px rgba(249,180,3,0.4);
    }
}
.footer_nav{
    padding: 60px 0;
    border-block: 0.5px solid rgba($color: #fff, $alpha: 0.3);
}
.footer_navlist{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(180px, 1fr) );
    gap: 50px 30px;
}

.footer_navitem_heading{
    word-break: break-word;
}
.footer_sub_navlist{
    margin-top: 50px;
}

.footer_sub_navitem{
    margin-bottom: 30px;
    &:last-child{
        margin-bottom: 0;
    }
}

.footer_nav_link{
    font-size: 16px;
    opacity: 0.8;
    &::after{
        content: "-";
        opacity: 0;
        margin-left: 10px;
        transition: 0.3s;
    }
    &:hover{
        letter-spacing: 1.1;
        color: $primary-color;
        opacity: 1;
        &::after{
            opacity: 1;
        }
    }

}


.footer_bottom_right,
.footer_bottom{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    align-items: center;
    gap: 40px;
}
.footer_bottom{
    margin-top: 60px;
    justify-content: space-between;
}


@media only screen and (max-width: 991px){
    .footer_logo{
        margin-bottom: 20px;
    }
    .footer_head{
        grid-template-columns: 1fr;
        grid-auto-flow: unset;
        gap: 40px;
        .sec_heading{
            margin-bottom: 15px;
        }
        .txt-right{
            text-align: left;
        }
    }
    .footer_bottom{
        grid-template-columns: 1fr;
        grid-auto-flow: unset;
        gap: 23px;
    }
    .footer_bottom_right{
        width: max-content;
    }
}
@media only screen and (max-width: 767px){
    .footer_head{
        margin-bottom: 30px;
    }
    .footer_nav{
        padding: 30px 0;
    }
    .footer_navlist{
        grid-template-columns: 1fr 1fr; 
    }
    .footer_bottom_right{
        grid-template-columns: 1fr;
        grid-auto-flow: unset;
        gap: 16px;
    }
    .footer_navitem_heading{
        font-size: 22px;
    }
    .footer_nav_link{
        font-size: 12px;
    }
    .footer_sub_navlist{
        margin-top: 16px;
        gap: 23px 20px;
    }
    .footer_sub_navitem{
        margin-bottom: 16px;
    }
    
    .footer_bottom{
        margin-top: 30px;
    }
    .footer_bottom_left .sec_info{
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px){
    .footer_head .cta_button{
        width: 100%;
        text-align: center;
    }
}